.input {
  width: 90%;
  max-width: 40rem;
  background: #fff;
  margin: 2rem auto;
  padding: 1rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  width: 100%;
  border: 1px solid #ccc;
  display: block;
  font: inherit;
  margin-bottom: 0.5rem;
  padding: 0.15rem;
}

.input input:focus {
  border-color: #4f005f;
  outline: none;
}